<section class="covid-modal">
    <svg class="modal__close">
        <use xlink:href="img/sprite.svg#close"></use>
    </svg>
    <h2 class="covid-modal__title">Наша компания снижает риски распространения вируса</h2>
    <div class="covid-modal__content">
        <div class="covid-modal__list">
            <article class="covid-modal__item">
                <h3 class="covid-modal__item-title">Соблюдение дистанции</h3>
                <div class="covid-modal__item-description">
                    <p>Наши сотрудники почти не контактируют между собой или с вами. Вы также можете уйти на время
                        уборки из дома.</p>
                </div>
            </article>
            <article class="covid-modal__item">
                <h3 class="covid-modal__item-title">Мало контактов</h3>
                <div class="covid-modal__item-description">
                    <p>Также наши специалисты контактируют с 1-2 клиентами в день, причем с одними и теми же.
                        Мы закрепляем одного человека за одним клиентом.</p>
                </div>
            </article>
            <article class="covid-modal__item">
                <h3 class="covid-modal__item-title">Меры защиты</h3>
                <div class="covid-modal__item-description">
                    <p>Наши сотрудники работают в квартирах в перчатках, имеют санитайзеры и моют руки после улицы.
                        По вашему запросу, они работают в масках. Мы провели с ними подробный инструктаж о том,
                        как вести себя в квартирах и как снижать риск переноса вируса.</p>
                </div>
            </article>
            <article class="covid-modal__item">
                <h3 class="covid-modal__item-title">Контроль</h3>
                <div class="covid-modal__item-description">
                    <p>Мы замеряем температуру у всех исполнителей перед отправлением на объект. Данные отражаются
                        в специальном журнале. Уточнить время и дату измерения можно в call-центре.</p>
                </div>
            </article>
        </div> <!-- /.covid-modal__list -->
        <div class="covid-modal__conclusion">
            Вода и моющее средство – основной способ устранения вируса на поверхностях: как на ваших руках, так и дома.
            ВОЗ говорит о том, что коронавирус может жить достаточно продолжительное время на поверхностях вне
            тела человека. <span class="covid-modal__logo">Дарья Клининг</span> заботится о здоровье своих клиентов.
        </div>
    </div>
</section> <!-- /.covid-modal -->