.calc {
    padding: 100px 0;
    font-size: 18px;
    background: linear-gradient(to right, rgba(109, 139, 138, 0) 0, #cad3d5 100%);

    &__container {
        @include lg {
            padding: 0;
        }

        @include md-lg {
            width: 95%;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 700px;
        color: var(--color-tree);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            border-top-right-radius: 170px;
            border-bottom-left-radius: 170px;
            width: 100%;
            height: 100%;
            background: url("../img/calc/bg_calc.png");
            background-position: 110% 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include mobile {
            flex-direction: column;
            max-height: none;

            &::before {
                background-position: 43% 565px;
                background-size: 1000px 600px;
            }
        }

        @include sm {
            &::before {
                background-position: 80% 550px;
                background-size: 1000px 600px;
            }
        }

        @include xs {
            &::before {
                background-position: 80% 600px;
                background-size: 1000px 600px;
            }
        }
    }

    &__service-list {
        display: flex;
        flex-direction: column;

        @include mobile {
            margin-bottom: 30px;
        }
    }

    &__service-btn {
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        border: 2px solid transparent;
        padding: 20px 40px;
        width: 350px;
        box-shadow: 0 0 3px var(--color-two);
        font-size: 20px;
        background: rgba(var(--color-five-na), 0.25);
        opacity: 0;
        transform: translateX(-150px);
        transition: border-radius 0.4s ease-in 0.1s;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            width: 1px;
            height: 1px;
            background: rgba(var(--color-four-na), 0.3);
            transition: 0.75s;
        }

        &:hover {
            .calc__service-btn--decor::before {
                transform: translateX(-50%);
            }

            .calc__service-btn--decor::after {
                transform: translateX(50%);
            }
        }

        &:disabled {
            color: var(--color-two);
        }

        &:nth-child(1) {
            margin-top: 20px;
            margin-left: 200px;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;

            @include lg {
                margin-left: 150px;
            }

            @include md {
                margin-left: 50px;
            }

            @include mobile {
                margin-left: 250px;
            }

            @include xs {
                margin-left: 0;
            }
        }

        &:nth-child(2) {
            margin-left: 100px;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;

            @include lg {
                margin-left: 50px;
            }

            @include md {
                margin-left: 25px;
            }

            @include mobile {
                margin-left: 125px;
            }

            @include xs {
                margin-left: 0;
            }
        }

        &:nth-child(3) {
            margin-left: 0;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;

            @include md {
                margin-bottom: 110px;
            }

            @include mobile {
                margin-bottom: 10px;
            }
        }

        &:nth-child(4) {
            margin-left: 0;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;

            @include xs {
                border-radius: 100px 0;
            }
        }

        &:nth-child(5) {
            margin-left: 100px;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;

            @include lg {
                margin-left: 50px;
            }

            @include md {
                margin-left: 25px;
            }

            @include mobile {
                margin-left: 125px;
            }

            @include xs {
                margin-left: 0;
                border-radius: 100px 0;
            }
        }

        &:nth-child(6) {
            margin-bottom: 20px;
            margin-left: 200px;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;

            @include lg {
                margin-left: 150px;
            }

            @include md {
                margin-left: 50px;
            }

            @include mobile {
                margin-left: 250px;
            }

            @include xs {
                margin-bottom: 80px;
                margin-left: 0;
                border-radius: 100px 0;
            }
        }

        &--decor {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: calc(50% - 32px);
                z-index: -1;
                width: 100%;
                height: 64px;
                background: rgba(var(--color-four-na), 0.2);
                transition: transform 0.5s, width 0.5s, background 0s;
            }

            &::before {
                left: 0;
                transform: translateX(-100%);
            }

            &::after {
                right: 0;
                transform: translateX(100%);
            }
        }

        @include lg {
            padding: 20px 30px;
            width: 310px;
            font-size: 18px;
        }

        @include md-lg {
            padding: 20px;
            width: 280px;
            font-size: 17px;
        }

        @include xs {
            width: 260px;
            font-size: 15px;
        }
    }

    &__calculate-btn {
        z-index: -1;
        margin-left: -145px;
        border: 2px solid transparent;
        border-radius: 20px;
        padding: 30px;
        width: 200px;
        box-shadow: 0 0 5px var(--color-two);
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        background: linear-gradient(0.25turn, rgba(var(--color-five-na), 0.4), rgba(var(--color-four-na), 0.4), rgba(var(--color-five-na), 0.4));
        opacity: 0;
        transform: translateX(-100px);

        &:disabled {
            color: var(--color-two);
        }

        @include lg {
            margin-left: -130px;
            width: 180px;
        }

        @include md-lg {
            margin-left: -110px;
            padding: 25px;
            width: 160px;
            font-size: 18px;
        }

        @include md {
            position: absolute;
            left: 170px;
            top: calc(50% - 37px);
            margin-left: 0;
        }

        @include mobile {
            left: 100px;
            top: 440px;
            padding: 27px;
            width: 180px;
            height: 78px;
        }

        @include sm {
            left: 30px;
            top: 460px;
            padding: 20px;
            width: 160px;
            height: 70px;
        }

        @include xs {
            left: calc(50% - 80px);
            top: 510px;
            font-size: 16px;
        }
    }

    &__service-info {
        position: relative;
        z-index: 2;
        align-self: normal;
        overflow: hidden;
        margin: 30px 0 30px 30px;
        border-top-right-radius: 200px;
        border-bottom-left-radius: 200px;
        width: 100%;
        height: 550px;
        background: #7793924d;

        @include md-lg {
            border-top-right-radius: 170px;
            border-bottom-left-radius: 170px;
        }

        @include mobile {
            margin: 0;
            height: 520px;
        }

        @include xs {
            border-top-right-radius: 170px;
            border-bottom-left-radius: 170px;
            height: 650px;
        }
    }

    &-btn__next {
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 21;
        border-top-left-radius: 100px;
        padding: 30px 5px 25px 30px;
        width: 150px;
        box-shadow: 0 0 5px var(--color-two);
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(var(--color-two-na), 0.85);
        background: linear-gradient(0.25turn, rgba(var(--color-five-na), 0.4), rgba(var(--color-four-na), 0.4), rgba(var(--color-five-na), 0.4));
        opacity: 0;
        transform: translateX(120px) translateY(120px);

        @include xs {
            padding: 20px 5px 20px 20px;
            width: 120px;
            font-size: 16px;
            line-height: 22px;
        }
    }

    @include mobile {
        padding: 50px 0;
        background: linear-gradient(to top, rgba(109, 139, 138, 0) 0, #cad3d5 100%);
    }
}

.service-info {
    &__item {
        position: absolute;
        right: 0;
        top: 0;
        justify-content: center;
        overflow: auto;
        padding: 30px 40px;
        width: 100%;
        height: 100%;
        line-height: 28px;
        text-align: justify;
        text-shadow: 0 0 3px #d5ebf7;
        color: #2b333d;
        opacity: 0;
        transform: translateX(100px);

        ul {
            list-style: circle;
            text-align: left;
        }

        li {
            list-style-position: inside;

            @include xs {
                text-align: left;
            }
        }

        p {
            margin: 0;
        }

        @include md-lg {
            font-size: 17px;
        }

        @include md {
            font-size: 16px;
            line-height: 26px;
        }

        @include sm {
            font-size: 15px;
            line-height: 24px;
        }

        @include xs {
            padding: 20px 15px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__content-title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;

        @include md-lg {
            font-size: 18px;
        }

        @include sm {
            font-size: 17px;
        }

        @include xs {
            font-size: 16px;
            text-align: left;
        }
    }

    &__next-btn {
        position: absolute;
        right: 75px;
        bottom: 40px;
        font-weight: 700;
        font-style: italic;
        opacity: 0;
        transform: translateX(100px);
    }
}

.service-info__none {
    .service-info__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 70px;
        height: 100%;
    }

    .service-info__text {
        margin-top: 0;
        font-size: 30px;
        line-height: 38px;
        text-align: center;

        @include md-lg {
            font-size: 28px;
        }

        @include sm {
            font-size: 24px;
            line-height: 34px;
        }

        @include xs {
            font-size: 22px;
            line-height: 32px;
        }
    }
}

.service-info__additional {
    position: relative;
    overflow: hidden;
    padding: 25px 40px;

    .service-info__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .service-info__content-inner-wrap {
        overflow: auto;
        height: 95%;
    }

    .additional-table {
        table-layout: fixed;
        margin: auto;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        thead {
            border-bottom: 2px solid var(--color-four);
        }

        &__caption {
            margin: 0 0 5px;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;

            @include xs {
                margin-bottom: 0;
                padding: 0 20px;
                line-height: 24px;
            }
        }

        &__title {
            &.additional-table__col-1,
            &.additional-table__col-2,
            &.additional-table__col-3 {
                border-bottom: 2px solid var(--color-four);
                padding-bottom: 2px;
                font-size: 18px;

                @include xs {
                    border-bottom: none;
                    font-size: 16px;
                }
            }

            @include xs {
                &.additional-table__col-2 {
                    display: none;
                }

                &.additional-table__col-3 {
                    height: 45px;
                    line-height: 40px;
                }
            }
        }

        &__col-1 {
            margin-right: 10px;
            width: 600px;
            text-align: left;

            @include mobile {
                height: 33px;
            }

            @include xs {
                height: 45px;
            }
        }

        &__col-2 {
            width: 220px;

            @include md {
                width: 200px;
            }

            @include xs {
                display: inline-block;
                width: 110px;
                font-size: 12px;
                text-align: right;
            }
        }

        &__col-3 {
            padding-right: 5px;
            width: 100px;
            text-align: right;

            @include xs {
                display: inline-block;
                padding-right: 0;
                width: 110px;
                font-weight: 700;
                text-align: right;
            }
        }

        tr {
            border-bottom: 1px dashed rgba(var(--color-four-na), 0.3);
            transition: background-color 0.15s ease-in;
            cursor: default;

            &:hover {
                background-color: rgba(var(--color-four-na), 0.4);
            }
        }

        @include md {
            font-size: 14px;
            line-height: 19px;
        }
    }

    .additional__btn {
        position: absolute;
        padding: 30px 20px;
        width: 150px;
        box-shadow: 0 0 5px var(--color-two);
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(var(--color-two-na), 0.85);
        background: linear-gradient(0.25turn, rgba(var(--color-five-na), 0.4), rgba(var(--color-four-na), 0.4), rgba(var(--color-five-na), 0.4));
        opacity: 0;

        &--return {
            left: 5px;
            top: 5px;
            border-bottom-right-radius: 100px;
            padding-top: 25px;
            padding-right: 30px;
            padding-left: 5px;
            transform: translateX(-120px) translateY(-120px);

            @include md {
                padding-top: 15px;
                padding-bottom: 20px;
            }
        }

        &--order {
            right: 5px;
            bottom: 5px;
            border-top-left-radius: 100px;
            padding-right: 5px;
            padding-bottom: 25px;
            padding-left: 30px;
            transform: translateX(120px) translateY(120px);

            @include md {
                padding-top: 20px;
                padding-bottom: 15px;
            }
        }

        @include md {
            width: 140px;
            font-size: 16px;
            line-height: 22px;
        }

        @include xs {
            width: 120px;
        }
    }

    @include md {
        padding: 25px 125px;
    }

    @include mobile {
        padding: 40px 80px 90px;
    }

    @include xs {
        padding: 90px 5px 120px;
    }
}

.service-info__general {
    text-align: left;
}

.service-info__maintenance[data-step="2"],
.service-info__general[data-step="2"],
.service-info__renovation[data-step="2"] {
    overflow: hidden;

    .service-info__content {
        width: 90%;
        text-align: center;
    }

    .service-info__content-title {
        margin-bottom: 20px;
        width: 100%;
    }

    label {
        display: block;
        margin-top: 5px;
        padding: 5px;
    }

    .space__item {
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: -25%;
            top: 0;
            width: 150%;
            height: 100%;
            background: rgba(var(--color-four-na), 0);
            transition: 0.3s;
        }

        &:hover {
            &::before {
                background: rgba(var(--color-four-na), 0.35);
            }
        }
    }

    @include xs {
        display: flex;
        align-items: center;
    }
}

.service-info__steam[data-step="2"] {
    font-size: 18px;

    .steam__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px dashed rgba(var(--color-four-na), 0.3);
        padding-left: 10px;
        width: 100%;

        @include sm {
            margin-bottom: 3px;
            height: 30px;
        }

        @include xs {
            padding-left: 0;
            height: 32px;
        }
    }

    .service-info__content-title {
        @include xs {
            padding-right: 90px;
            line-height: 20px;
            text-align: left;
        }
    }

    .steam__name {
        padding-left: 10px;
        width: 40%;

        @include md {
            width: 45%;
        }

        @include xs {
            padding-left: 0;
            text-align: left;
        }
    }

    .steam__stepper {
        width: 150px;

        @include md {
            width: 100px;
        }
    }

    .stepper__input {
        @include md {
            width: 40px;
        }
    }

    .steam__price-info {
        display: flex;
        justify-content: right;
        width: 215px;

        @include md-lg {
            width: 200px;
        }

        @include xs {
            flex-direction: column;
            width: 90px;
        }
    }

    .steam__price {
        padding-left: 10px;
        width: 100px;
        text-align: end;

        @include md {
            width: 90px;
        }

        @include sm {
            padding-left: 10px;
            width: 80px;
        }

        @include xs {
            padding-left: 5px;
            width: 100%;
            font-weight: 700;
            text-align: center;
        }
    }

    .steam__unit {
        padding-left: 10px;
        width: 115px;
        font-size: 14px;

        @include sm {
            font-size: 13px;
        }

        @include xs {
            padding-left: 5px;
            width: 100%;
            font-size: 12px;
            text-align: center;
        }
    }

    @include md-lg {
        padding: 30px 20px;
    }

    @include md {
        font-size: 16px;
        line-height: 28px;
    }

    @include mobile {
        padding: 30px 40px;
    }

    @include sm {
        font-size: 15px;
        line-height: 15px;
    }

    @include xs {
        padding: 35px 10px;
        font-size: 14px;
    }
}

.service-info__windows[data-step="2"] {
    font-size: 18px;

    .stepper {
        height: 25px;
    }

    .window__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        border-bottom: 1px dashed rgba(var(--color-four-na), 0.3);
        padding-bottom: 15px;
        padding-left: 10px;
        width: 100%;

        @include xs {
            margin-bottom: 0;
            padding-bottom: 10px;
            padding-left: 0;
        }
    }

    .window__name {
        padding-bottom: 10px;
        width: 100%;
    }

    .window__stepper {
        width: 150px;

        @include md {
            width: 100px;
        }
    }

    .stepper__input {
        @include md {
            width: 40px;
        }
    }

    .window__price {
        padding-left: 20px;
        width: 100px;
        text-align: end;

        @include xs {
            padding-left: 10px;
            width: 80px;
            font-weight: 700;
        }
    }

    .window__unit {
        padding-left: 10px;
        width: 115px;
        font-size: 14px;

        @include sm {
            font-size: 13px;
        }

        @include xs {
            width: 85px;
            font-size: 12px;
        }
    }

    @include md {
        font-size: 16px;
        line-height: 28px;
    }

    @include sm {
        font-size: 15px;
        line-height: 24px;
    }

    @include xs {
        font-size: 14px;
        line-height: 20px;
    }
}

.service-info__novice {
    padding-bottom: 100px;

    .service-info__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .service-info__content-title {
        margin-bottom: 50px;
        font-size: 30px;
        line-height: 38px;

        @include md {
            font-size: 28px;
            line-height: 34px;
        }

        @include sm {
            font-size: 24px;
            line-height: 30px;
        }

        @include xs {
            font-size: 22px;
            line-height: 28px;
            text-align: center;
        }
    }

    .form_toggle {
        display: inline-block;

        &-item {
            display: inline-block;
            float: left;

            input[type="radio"] {
                display: none;
            }

            label {
                display: inline-block;
                border: 1px solid rgba(var(--color-four-na), 0.5);
                border-right: none;
                padding: 30px;
                width: 200px;
                box-shadow: 0 0 3px rgba(var(--color-four-na), 1);
                font-weight: 700;
                font-size: 50px;
                text-align: center;
                transition: 0.3s;
                cursor: pointer;

                @include md {
                    padding: 25px 30px;
                    font-size: 40px;
                }

                @include sm {
                    font-size: 34px;
                }

                @include xs {
                    width: 130px;
                    font-size: 30px;
                }
            }
        }

        input[type="radio"]:checked + label {
            background: rgba(var(--color-four-na), 0.55);
        }

        .item-1 {
            label {
                border-radius: 20px 0 0 20px;
            }
        }

        .item-2 {
            label {
                border-right: 1px solid #999;
                border-radius: 0 20px 20px 0;
            }
        }
    }
}

.service-info__finish {
    overflow-x: hidden;
    text-align: center;

    .service-info {
        &__content {
            padding: 0 40px;

            @include xs {
                padding: 30px 10px;
            }
        }

        &__price-wrap {
            margin: 20px 0;
            font-family: "Oswald", sans-serif;
            font-weight: 700;
            font-size: 32px;
        }

        &__price {
            margin-right: 5px;
        }

        &__description-wrap {
            opacity: 0;
            transform: translateX(120%);
        }

        &__description {
            &-estimated {
                font-weight: 700;
            }
        }

        &__including {
            display: block;
            margin-bottom: 15px;
            font-style: italic;
        }

        &__give-phone {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
            opacity: 0;
            transform: translateX(120%);
        }
    }

    .callback-form {
        border-top-right-radius: 150px;
        border-bottom-left-radius: 150px;
        padding: 10px 0;
        background: rgba(var(--color-tree-na), 0.4);
        opacity: 0;
        transform: translateX(120%);

        .error-field {
            border-color: rgba(var(--error), 0.5);
            box-shadow: 0 15px 15px -15px var(--error-message);
            background: rgba(var(--error), 0.5);
        }

        .success-field {
            box-shadow: 0 15px 15px -15px var(--color-four);
            background: rgba(var(--color-four-na), 0.7);
        }

        &__field {
            border-bottom: 2px solid var(--color-four);

            &::placeholder {
                color: var(--color-four);
            }

            &:focus {
                border-bottom: 2px solid rgba(var(--color-four-na), 0.5);
            }

            @include md {
                width: 250px;
            }

            @include sm {
                width: 200px;
            }

            @include xs {
                width: 165px;
                font-size: 14px;
            }
        }

        &__submit {
            border-bottom: 2px solid var(--color-four);

            &::before,
            &::after {
                background: rgba(var(--color-four-na), 0.6);
            }

            @include sm {
                width: 200px;
                height: 55px;
            }

            @include xs {
                margin-left: 30px;
                width: 195px;
                height: 45px;
                font-size: 16px;
                line-height: 22px;
            }
        }

        @include md {
            border-top-right-radius: 125px;
            border-bottom-left-radius: 125px;
        }

        @include xs {
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;
            padding: 20px 0;
        }
    }
}

.shape_left {
    float: left;
    clip-path: polygon(0 59.86%, 3.48% 72.76%, 10% 81.61%, 19.42% 90.3%, 31.14% 95.81%, 174px 99.78%, 0 100%);
    shape-outside: polygon(0 59.86%, 3.48% 72.76%, 10% 81.61%, 19.42% 90.3%, 31.14% 95.81%, 174px 99.78%, 0 100%);
    width: 50%;
    height: 100%;

    @include xs {
        clip-path: polygon(0px 59.86%, -0.84% 76.69%, 7.84% 84.57%, 23.02% 90.79%, 45.54% 95.97%, 175px 99.78%, 0px 100%);
        shape-outside: polygon(0px 59.86%, -0.84% 76.69%, 7.84% 84.57%, 23.02% 90.79%, 45.54% 95.97%, 175px 99.78%, 0px 100%);
    }
}

.shape_right {
    float: right;
    clip-path: polygon(51.34% 0, 64.52% 2.49%, 76.04% 7.31%, 85.41% 13.58%, 91.57% 19.97%, 96.74% 127px, 100% 179px, 100% 0);
    shape-outside: polygon(51.34% 0, 64.52% 2.49%, 76.04% 7.31%, 85.41% 13.58%, 91.57% 19.97%, 96.74% 127px, 100% 179px, 100% 0);
    width: 50%;
    height: 100%;

    @include xs {
        clip-path: polygon(18.22% -1px, 53% 3.15%, 76.04% 7.31%, 85.41% 13.58%, 91.57% 19.97%, 96.74% 127px, 100% 179px, 100% 0);
        shape-outside: polygon(18.22% -1px, 53% 3.15%, 76.04% 7.31%, 85.41% 13.58%, 91.57% 19.97%, 96.74% 127px, 100% 179px, 100% 0);
    }
}

.service-info--active {
    z-index: 20;
}

.calc__service-btn.service-btn--active {
    border-radius: 100px;
    animation: hoverWaveBtn 1.5s 0.5s linear infinite;

    &::before {
        transform: scale(400);
    }

    .calc__service-btn--decor::before,
    .calc__service-btn--decor::after {
        background: transparent;
        transition: 0.5s;
    }
}