.faq {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 20px 100px;

        @include xs {
            padding: 50px 10px 80px;
        }
    }

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1020px;
    }

    &__item {
        margin-bottom: 30px;
        border: 1px dashed rgba(var(--color-four-na), 0.3);
        border-radius: 20px;
        width: 100%;
        background: linear-gradient(to right, rgba(var(--color-four-na), 0.3) 0, rgba(var(--color-four-na), 0.1) 50%, rgba(var(--color-four-na), 0.3) 100%);
        opacity: 0;
        transform: translateY(50px);

        ul {
            list-style: circle;
        }

        li {
            list-style-position: inside;
        }

        .heart {
            width: 30px;
            transform: rotate(0);
            animation: heartbeat 1s infinite;
        }

        @include xs {
            margin-bottom: 20px;
        }
    }

    &__item-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 60px 20px 30px;
        cursor: pointer;

        @include sm {
            padding: 20px 50px 20px 20px;
        }

        @include xs {
            padding: 20px 30px 20px 20px;
        }
    }

    &__item-title {
        margin: 0;
        font-size: 20px;
        line-height: 26px;
        color: var(--color-two);

        @include mobile {
            font-size: 18px;
            line-height: 24px;
        }

        @include sm {
            font-size: 17px;
        }

        @include xs {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__item-arrow-wrap {
        margin-right: -35px;
        padding-left: 15px;

        @include xs {
            margin-right: -20px;
            padding-left: 10px;
        }
    }

    &__item-arrow {
        width: 25px;
        height: 25px;
        transform: rotate(-90deg);

        @include mobile {
            width: 22px;
            height: 22px;
        }

        @include sm {
            width: 20px;
            height: 20px;
        }
    }

    &__item-answer {
        overflow: hidden;
        padding: 0 60px;
        height: 0;
        line-height: 22px;
        text-align: justify;

        &-wrap {
            padding-bottom: 25px;
        }

        p {
            margin: 0;
            margin-bottom: 5px;
        }

        li {
            text-align: left;
        }

        @include mobile {
            padding: 0 45px;
        }

        @include sm {
            padding: 0 30px;
            font-size: 15px;
        }

        @include xs {
            padding: 0 20px;
        }
    }
}