.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    background: rgba(var(--color-tree-na), 0.3);

    &__container {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 10px;

        @include xs {
            flex-direction: column;
        }
    }

    &__covid {
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-content: flex-start;
        opacity: 0.85;
        transition: opacity 0.75s;
        cursor: pointer;

        &-img {
            z-index: 2;
            margin-right: -30px;
            width: 50px;
            height: 50px;
            opacity: 0.85;
            transition: transform 0.5s;
            pointer-events: none;
        }

        &-decor {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 40px;

            &::before {
                content: "";
                position: absolute;
                right: -100%;
                top: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, 0.55);
                transition: 0.75s ease-in-out;
            }
        }

        &-text {
            margin: 3px;
            margin-left: 35px;
            border: 2px solid rgba(255, 0, 0, 0.75);
            padding: 0 3px;
            font-weight: 700;
            font-size: 12px;
            line-height: 24px;
            text-transform: uppercase;
            color: rgba(255, 0, 0, 0.75);
            transition: 1s;
        }

        &:hover {
            opacity: 1;

            .header__covid-text {
                border-color: #fff;
                color: #fff;
            }

            .header__covid-img {
                transform: scale(1.15);
                transition: transform 0.3s linear 0.75s;
            }

            .header__covid-decor::before {
                right: 0;
            }
        }

        @include mobile-sm {
            opacity: 0.65;
        }

        @include sm {
            margin-left: -90px;
        }

        @include xs {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }

    &__contact-wrap {
        display: flex;
        margin-right: -15px;
        border-radius: 10px;
        background: rgba(var(--color-tree-na), 0.3);

        @include mobile {
            flex-direction: column;
        }

        @include mobile-sm {
            background: rgba(var(--color-tree-na), 0.1);
        }

        @include xs {
            align-self: flex-end;
            min-width: 320px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        border-radius: 10px;
        padding: 10px;

        &-data {
            display: inline-block;
            margin-left: 10px;
            padding: 5px;
        }

        @include mobile-sm {
            padding: 5px;
            font-size: 14px;
        }

        @include sm {
            padding: 5px 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 28px;
            height: 28px;
            transition: 0.3s;

            @include mobile {
                width: 24px;
                height: 24px;
            }
        }

        &:first-child {
            margin-bottom: 5px;
        }

        &--tel {
            &:hover {
                svg {
                    animation: calling 2s linear infinite;
                }
            }
        }

        &--mail:hover {
            svg {
                animation: mailTo 1.5s linear infinite;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 25%;
    }

    &__social {
        align-self: flex-end;
        margin-bottom: 20px;
        width: 100%;

        @include mobile {
            margin-bottom: 5px;
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;
    width: 480px;

    &-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        @include md {
            margin-left: 0;
            width: 53%;
        }

        @include mobile {
            width: 60%;
        }

        @include mobile-sm {
            width: 55%;
        }

        @include sm {
            justify-content: flex-start;
            width: 60%;
        }

        @include xs {
            margin-bottom: 5px;
            padding-top: 35px;
            width: 100%;
        }
    }

    &__one-word {
        align-self: flex-start;
        font-family: "Nexa", sans-serif;
        font-size: 120px;
        text-shadow: 1px 1px 3px var(--color-tree);

        @include mobile-sm {
            font-size: 110px;
        }

        @include sm {
            font-size: 86px;
        }
    }

    &__two-word {
        align-self: flex-end;
        margin-top: -0.4em;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 60px;
        text-transform: uppercase;

        @include mobile-sm {
            font-size: 50px;
        }

        @include sm {
            font-size: 38px;
        }

        @include xs {
            font-size: 36px;
        }
    }

    @include mobile-sm {
        width: 410px;
    }

    @include sm {
        width: 315px;
    }
}