.services {
    position: relative;
    display: flex;
    justify-content: center;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        max-height: 1300px;
        background: center / cover no-repeat url("../img/services/1_maintenance_cleaning.jpg");
        opacity: 0;
        filter: blur(15px);
        transition: opacity 0.75s;

        &--active {
            opacity: 1;
        }

        @include lg-max {
            background: center / cover no-repeat url("../img/services/1_maintenance_cleaning_mobile.jpg");
            //filter: none;
        }

        @include md {
            filter: none;
        }

        @include sm {
            background: center / cover no-repeat url("../img/services/1_maintenance_cleaning_sm.jpg");
        }

        @include xs {
            background: center / cover no-repeat url("../img/services/1_maintenance_cleaning_xs.jpg");
            transition: opacity 0s;
        }
    }

    &__container {
        position: relative;
        width: 1920px;
    }
}

[data-service="maintenance_cleaning"] {
    .background-holder {
        background-image: url("../img/services/1_maintenance_cleaning_min.jpg");

        @include mobile {
            background-image: url("../img/services/1_maintenance_cleaning_min_mobile.jpg");
        }

        @include xs {
            background-image: url("../img/services/1_maintenance_cleaning_min_xs.jpg");
        }
    }

    .background {
        background-image: url("../img/services/1_maintenance_cleaning.jpg");

        @include mobile {
            background-image: url("../img/services/1_maintenance_cleaning_mobile.jpg");
        }

        @include sm {
            background-image: url("../img/services/1_maintenance_cleaning_sm.jpg");
        }

        @include xs {
            background-image: url("../img/services/1_maintenance_cleaning_xs.jpg");
        }
    }
}

[data-service="general_cleaning"] {
    .background-holder {
        background-image: url("../img/services/2_general_cleaning_min.jpg");

        @include mobile {
            background-image: url("../img/services/2_general_cleaning_min_mobile.jpg");
        }

        @include xs {
            background-image: url("../img/services/2_general_cleaning_min_xs.jpg");
        }
    }

    .background {
        background-image: url("../img/services/2_general_cleaning.jpg");

        @include mobile {
            background-image: url("../img/services/2_general_cleaning_mobile.jpg");
        }

        @include sm {
            background-image: url("../img/services/2_general_cleaning_sm.jpg");
        }

        @include xs {
            background-image: url("../img/services/2_general_cleaning_xs.jpg");
        }
    }
}

[data-service="cleaning_up_after_renovation"] {
    .background-holder {
        background-image: url("../img/services/3_cleaning_up_after_renovation_min.jpg");

        @include mobile {
            background-image: url("../img/services/3_cleaning_up_after_renovation_min_mobile.jpg");
        }

        @include xs {
            background-image: url("../img/services/3_cleaning_up_after_renovation_min_xs.jpg");
        }
    }

    .background {
        background-image: url("../img/services/3_cleaning_up_after_renovation.jpg");

        @include mobile {
            background-image: url("../img/services/3_cleaning_up_after_renovation_mobile.jpg");
        }

        @include sm {
            background-image: url("../img/services/3_cleaning_up_after_renovation_sm.jpg");
        }

        @include xs {
            background-image: url("../img/services/3_cleaning_up_after_renovation_xs.jpg");
        }
    }
}

[data-service="steam_cleaner"] {
    .background-holder {
        background-image: url("../img/services/4_steam_cleaner_min.jpg");

        @include mobile {
            background-image: url("../img/services/4_steam_cleaner_min_mobile.jpg");
        }

        @include xs {
            background-image: url("../img/services/4_steam_cleaner_min_xs.jpg");
        }
    }

    .background {
        background-image: url("../img/services/4_steam_cleaner.jpg");

        @include mobile {
            background-image: url("../img/services/4_steam_cleaner_mobile.jpg");
        }

        @include sm {
            background-image: url("../img/services/4_steam_cleaner_sm.jpg");
        }

        @include xs {
            background-image: url("../img/services/4_steam_cleaner_xs.jpg");
        }
    }
}

[data-service="washing_windows"] {
    .background-holder {
        background-image: url("../img/services/5_washing_windows_min.jpg");

        @include mobile {
            background-image: url("../img/services/5_washing_windows_min_mobile.jpg");
        }

        @include xs {
            background-image: url("../img/services/5_washing_windows_min_xs.jpg");
        }
    }

    .background {
        background-image: url("../img/services/5_washing_windows.jpg");

        @include mobile {
            background-image: url("../img/services/5_washing_windows_mobile.jpg");
        }

        @include sm {
            background-image: url("../img/services/5_washing_windows_sm.jpg");
        }

        @include xs {
            background-image: url("../img/services/5_washing_windows_xs.jpg");
        }
    }
}

[data-service="additional_services"] {
    .background-holder {
        background-image: url("../img/services/6_additional_services_min.jpg");

        @include mobile {
            background-image: url("../img/services/6_additional_services_min_mobile.jpg");
        }

        @include xs {
            background-image: url("../img/services/6_additional_services_min_xs.jpg");
        }
    }

    .background {
        background-image: url("../img/services/6_additional_services.jpg");

        @include mobile {
            background-image: url("../img/services/6_additional_services_mobile.jpg");
        }

        @include sm {
            background-image: url("../img/services/6_additional_services_sm.jpg");
        }

        @include xs {
            background-image: url("../img/services/6_additional_services_xs.jpg");
        }
    }
}

.slideshow {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 560px;
    max-height: 1300px;
    visibility: hidden;

    .navigation {
        position: absolute;
        left: -90px;
        top: 60%;
        z-index: 10;
        display: block;
        margin: 0;
        margin-top: -320px;
        padding: 0;
        width: 640px;
        height: 640px;

        @include md {
            top: 65%;
            width: 550px;
            height: 550px;
        }

        @include mobile {
            top: 69%;
            width: 520px;
            height: 520px;
        }

        @include sm {
            top: 75%;
            width: 400px;
            height: 400px;
        }

        @include xs {
            left: -75px;
            top: calc(100% - 160px);
            width: 320px;
            height: 320px;
        }

        @include touchpad-1366h {
            left: -95px;
            top: 55%;
            width: 640px;
            height: 640px;
        }

        @include touchpad-1024h {
            left: -95px;
            top: 60%;
            width: 520px;
            height: 520px;
        }

        @include touchpad-800h {
            left: -95px;
            top: 88%;
            width: 360px;
            height: 360px;
        }

        @include mobile-850h {
            left: -95px;
            top: 88%;
            width: 360px;
            height: 360px;
        }

        @include mobile-700h {
            left: -75px;
            top: 96%;
            width: 320px;
            height: 320px;
        }

        @include mobile-600h {
            left: -75px;
            top: 108%;
            width: 280px;
            height: 280px;
        }

        @include h560 {
            left: -75px;
            top: 95%;
            width: 340px;
            height: 340px;
        }
    }

    .navigation-item {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        padding: 10px;
        width: 185px;
        height: 185px;
        text-align: center;
        opacity: 0;
        cursor: pointer;

        &.active {
            pointer-events: none;
        }

        &.active .background-holder {
            opacity: 0;
            visibility: hidden;
        }

        @include lg-max {
            width: 175px;
            height: 175px;
        }

        @include md {
            width: 165px;
            height: 165px;
        }

        @include mobile {
            width: 155px;
            height: 155px;
        }

        @include sm {
            width: 120px;
            height: 120px;
        }

        @include xs {
            width: 90px;
            height: 90px;
        }

        @include touchpad-1366h {
            width: 185px;
            height: 185px;
        }

        @include touchpad-1024h {
            width: 155px;
            height: 155px;
        }

        @include touchpad-800h {
            width: 110px;
            height: 110px;
        }

        @include mobile-850h {
            width: 110px;
            height: 110px;
        }

        @include mobile-700h {
            width: 100px;
            height: 100px;
        }

        @include mobile-600h {
            width: 90px;
            height: 90px;
        }

        @include h560 {
            width: 110px;
            height: 110px;
        }
    }

    .rotate-holder {
        position: absolute;
        left: -9999px;
        top: -9999px;
        display: block;
        width: 0;
        height: 0;
    }

    .background-holder {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
    }

    .detail {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 8;
        display: block;
        width: 100%;
        height: 100%;
    }

    .detail-item {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        &__btn-wrap {
            position: absolute;
            left: 75%;
            top: 75%;
            z-index: 100;
            display: block;
            overflow: visible;
            width: 100%;
            max-width: calc(100% - 480px);
            box-sizing: border-box;
            white-space: nowrap;
            transform: translate(-50%, -50%);

            @include mobile {
                left: 72%;
                top: 73%;
            }

            @include sm {
                left: 60%;
                top: 70%;
            }

            @include xs {
                left: 27%;
                top: 54%;
            }

            @include touchpad-1366h {
                left: 80%;
                top: 63%;
            }

            @include touchpad-1024h {
                left: 70%;
                top: 63%;
            }

            @include touchpad-800h {
                left: 275px;
                top: auto;
                bottom: 145px;
            }

            @include mobile-850h {
                left: 205px;
                top: auto;
                bottom: 165px;
            }

            @include mobile-700h {
                left: 205px;
                top: auto;
                bottom: 125px;
            }

            @include mobile-600h {
                left: 170px;
                top: auto;
                bottom: 70px;
            }

            @include h560 {
                left: 280px;
                top: auto;
                bottom: 80px;
                transform: translate(0);
            }
        }

        &__btn {
            border: 2px solid rgba(var(--color-tree-na), 1);
            padding: 12px 50px;
            box-shadow: 0 0 5px var(--color-tree);
            font-family: "Oswald", sans-serif;
            font-weight: 700;
            font-kerning: none;
            font-size: 40px;
            line-height: unset;
            letter-spacing: 10px;
            text-align: center;
            text-shadow: 1px 1px 2px var(--color-two);
            text-transform: uppercase;
            color: var(--color-tree);
            background: rgba(var(--color-tree-na), 0.45);
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 20px var(--color-tree);
                background: rgba(var(--color-tree-na), 0.8);
            }

            @include lg {
                font-size: 38px;
            }

            @include md {
                padding: 12px 45px;
                font-size: 34px;
                letter-spacing: 8px;
            }

            @include mobile {
                font-size: 32px;
            }

            @include mobile-sm {
                padding: 10px 40px;
                box-shadow: 0 0 20px var(--color-tree);
                font-size: 26px;
                letter-spacing: 6px;
                background: rgba(var(--color-tree-na), 0.8);
            }

            @include sm {
                padding: 8px 30px;
                font-size: 22px;
                letter-spacing: 4px;
            }

            @include xs {
                padding: 5px 20px;
                font-size: 16px;
                letter-spacing: 3px;
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .headline {
        position: absolute;
        left: 50%;
        top: 60%;
        z-index: 2;
        display: block;
        overflow: visible;
        width: 100%;
        max-width: calc(100% - 480px);
        box-sizing: border-box;
        white-space: nowrap;
        transform: translate(-50%, -50%);

        @include md {
            left: 40%;
        }

        @include mobile {
            left: 35%;
        }

        @include sm {
            left: 32%;
            top: 60%;
        }

        @include xs {
            left: 25%;
            top: 49%;
        }

        @include touchpad-1366h {
            left: 40%;
            top: 53%;
        }

        @include touchpad-1024h {
            left: 35%;
            top: 53%;
        }

        @include touchpad-800h {
            left: 70px;
            top: auto;
            bottom: 190px;
        }

        @include mobile-850h {
            left: 30px;
            top: auto;
            bottom: 210px;
        }

        @include mobile-700h {
            left: 40px;
            top: auto;
            bottom: 170px;
        }

        @include mobile-600h {
            left: 30px;
            top: auto;
            bottom: 110px;
        }

        @include h560 {
            left: 50px;
            top: auto;
            bottom: 155px;
            transform: translate(0);
        }
    }

    .letter {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-kerning: none;
        font-size: 80px;
        white-space: pre;
        text-shadow: 1px 1px 2px var(--color-two);
        text-transform: uppercase;
        color: var(--color-tree);
        opacity: 0;
        visibility: hidden;

        @include lg {
            font-size: 76px;
        }

        @include md {
            font-size: 64px;
        }

        @include mobile {
            font-size: 60px;
        }

        @include mobile-sm {
            font-size: 50px;
        }

        @include sm {
            font-size: 42px;
        }

        @include xs {
            font-size: 7vw;
        }
    }

    .background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        overflow: visible;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, var(--color-two) 0%, rgba(0, 0, 0, 0) 55%);
        }
    }
}