.staff {
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;

        @include mobile {
            width: 100%;
        }

        @include sm {
            padding: 70px 20px 0;
        }
    }

    &__title-line {
        display: flex;
        flex-direction: column;
        padding: 15px 50px;
        text-align: center;

        @include xs {
            padding: 5px 0 15px;
        }
    }

    &__title-about {
        font-size: 24px;
        line-height: 38px;

        @include mobile {
            font-size: 21px;
            line-height: 27px;
        }

        @include mobile-sm {
            font-size: 20px;
            line-height: 26px;
        }

        @include sm {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
        width: 100%;

        @include mobile {
            padding: 0;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin: 10px 30px 30px;
        border-radius: 20px;
        padding: 30px 20px 0;
        width: 250px;
        box-shadow: 5px 9px 30px 0 rgba(0, 0, 0, 0.19);
        background: rgba(194, 202, 206, 0.5);
        background-image: url("../img/staff/bg_staff.png");
        background-size: cover;
        background-repeat: no-repeat;

        @include mobile {
            width: 230px;
        }

        @include sm {
            margin: 10px 15px 30px;
            width: 210px;
        }

        @include xs {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__photo {
        z-index: 2;
        overflow: hidden;
        border: 3px solid var(--color-four);
        border-radius: 25%;
        padding: 5px;
        width: 150px;
        height: 150px;

        img {
            border-radius: 25%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mobile {
            width: 140px;
            height: 140px;
        }

        @include sm {
            width: 135px;
            height: 135px;
        }
    }

    &__description {
        z-index: 1;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-shadow: 0 0 5px var(--color-five);

        @include mobile {
            font-size: 18px;
            line-height: 26px;
        }

        @include sm {
            font-size: 17px;
        }
    }

    &__post {
        margin-top: 10px;
        padding: 10px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        @include sm {
            font-size: 15px;
        }
    }
}