<section class="calc" id="calc">
    <div class="container calc__container">
        <div class="calc__content">
            <h2 class="visually-hidden">Раздел расчета услуг клининговой службы</h2>
            <div class="calc__service-list">
                <button class="calc__service-btn btn-reset" data-service="maintenance_cleaning">
                    <i class="calc__service-btn--decor"></i>Поддерживающая уборка</button>
                <button class="calc__service-btn btn-reset" data-service="general_cleaning">
                    <i class="calc__service-btn--decor"></i>Генеральная уборка</button>
                <button class="calc__service-btn btn-reset" data-service="cleaning_up_after_renovation">
                    <i class="calc__service-btn--decor"></i>Уборка после ремонта</button>
                <button class="calc__service-btn btn-reset" data-service="steam_cleaner">
                    <i class="calc__service-btn--decor"></i>Обработка паром</button>
                <button class="calc__service-btn btn-reset" data-service="washing_windows">
                    <i class="calc__service-btn--decor"></i>Мытье окон</button>
                <button class="calc__service-btn btn-reset" data-service="additional_services">
                    <i class="calc__service-btn--decor"></i>Дополнительные услуги</button>
            </div>

            <button class="calc__calculate-btn btn-reset animateWaveSecond">Рассчитать</button>

            <div class="calc__service-info service-info">
                <article class="service-info__item service-info__none service-info--active">
                    <div class="service-info__content">
                        <h3 class="service-info__text">Выберите интересующую услугу для ознакомления и расчета стоимости</h3>
                    </div>
                </article>
                <article class="service-info__item service-info__maintenance" data-service="maintenance_cleaning">
                    <div class="shape_left"></div>
                    <div class="shape_right"></div>
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Услуга поддерживающей уборки, включает в себя:</h4>
                        <ul>
                            <li>Обеспыливание горизонтальных поверхностей</li>
                            <li>Чистка ковров пылесосом</li>
                            <li>Вынос мусора</li>
                            <li>Мытье полов</li>
                            <li>Мытье фасадов, фартука</li>
                            <li>Дезинфекция сан.узла</li>
                            <li>Мытье зеркал</li>
                        </ul>
                    </div>
                </article>
                <article class="service-info__item service-info__general" data-service="general_cleaning">
                    <div class="shape_left"></div>
                    <div class="shape_right"></div>
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Услуга генеральной уборки, включает в себя:</h4>
                        <ul>
                            <li>Мытье подоконников</li>
                            <li>Чистка радиаторов отопления и пространства за ними</li>
                            <li>Удаление паутины со стен и потолка</li>
                            <li>Мойка люстр, настольных ламп, торшеров, выключателей и розеток</li>
                            <li>Обработка и дезинфекция всех поверхностей в ванной и туалете, включая не только сантехнику, но и стены</li>
                            <li>ПОЛНАЯ очистка кухни. Сюда включают чистку от жира всех поверхностей:
                                кухонной плиты, духовки, микроволновки, вытяжки, бытовой техники, рабочего «фартука»,
                                обработка кухонного гарнитура, холодильника</li>
                            <li>Чистка мягкой мебели и ковровых покрытий</li>
                            <li>Полировка межкомнатных дверей и входных</li>
                            <li>В заключении – мытьё пола</li>
                        </ul>
                    </div>
                </article>
                <article class="service-info__item service-info__renovation" data-service="cleaning_up_after_renovation">
                    <div class="shape_left"></div>
                    <div class="shape_right"></div>
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Услуга уборки после ремонта, включает в себя:</h4>
                        <ul>
                            <li>Очищение от пыли всех поверхностей и потолока</li>
                            <li>Мытье пола, подоконников, батарей, шкафов, техники, кафельной плитки, ванной и унитаза, чистка зеркал</li>
                            <li>Удаление следов и пятен от строительных смесей</li>
                            <li>Сборка и вынос мусора (до 10кг)</li>
                        </ul>
                    </div>
                </article>
                <article class="service-info__item service-info__steam" data-service="steam_cleaner">
                    <div class="shape_left"></div>
                    <div class="shape_right"></div>
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Обработка проводится пароочистителем</h4>
                        <p>Пароочиститель – это компактный прибор, предназначенный для удаления пятен,
                        очистки различных поверхностей и дезинфекции от вирусов.
                        Оборудование используют в доме и на улице на любых материалах,
                        способных выдержать температуру и давление пара. Обработка поверхностей таким прибором позволяет
                        не только избавиться от грязи, но и уничтожить до 99,99 % вирусов и бактерий при тщательной уборке
                        твердых поверхностей.</p>
                        <p>Результат подтвержден исследованиями лаборатории Эндерса в Штутгарте.</p>
                    </div>
                </article>
                <article class="service-info__item service-info__windows" data-service="washing_windows">
                    <div class="shape_left"></div>
                    <div class="shape_right"></div>
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Небольшие уточнения по услуге мытье окон:</h4>
                        <ul>
                            <li>минимальный заказ на мытье окон без уборки в пределах МКАД 3500р.</li>
                            <li>минимальный заказ на мытье окон без уборки за МКАД 6500р.</li>
                            <li>возможность выезда машины оговаривается с менеджером индивидуально</li>
                            <li>возможно увеличение цены на мытье окон из-за сложности конструкции, трудной доступности,
                                а также высокой степени загрязнения</li>
                        </ul>
                    </div>
                </article>
                <article class="service-info__item service-info__additional" data-service="additional_services">
                    <div class="service-info__content">
                        <h4 class="additional-table__caption">Дополнительные услуги:</h4>
                        <div class="service-info__content-inner-wrap">
                            <button class="additional__btn additional__btn--return btn-reset animateWaveSecond">К выбору услуг</button>
                            <table class="additional-table">
    <!--                            <caption class="additional-table__caption">Дополнительные услуги:</caption>-->
                                <thead>
                                    <tr>
                                        <th scope="col" class="additional-table__title additional-table__col-1">Список работ</th>
                                        <th scope="col" class="additional-table__title additional-table__col-2">Характеристика</th>
                                        <th scope="col" class="additional-table__title additional-table__col-3">Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Замена постельного белья</th>
                                        <td class="additional-table__col-2">1 комплект</td>
                                        <td class="additional-table__col-3">100 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Чистка обуви</th>
                                        <td class="additional-table__col-2">1 час</td>
                                        <td class="additional-table__col-3">500 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Мытьё холодильника (включая морозильную камеру) внутри</th>
                                        <td class="additional-table__col-2">2-х дверный</td>
                                        <td class="additional-table__col-3">800 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Мытьё холодильника (без морозильной камеры) внутри</th>
                                        <td class="additional-table__col-2">2-х дверный</td>
                                        <td class="additional-table__col-3">400 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Мытьё микроволновой печи внутри</th>
                                        <td class="additional-table__col-2">1 шт.</td>
                                        <td class="additional-table__col-3">350 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Мытьё духовки/гриля, внутри</th>
                                        <td class="additional-table__col-2">1 шт.</td>
                                        <td class="additional-table__col-3">500 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Стирка белья*(загрузка/выгрузка/развесить)</th>
                                        <td class="additional-table__col-2">1 машинка</td>
                                        <td class="additional-table__col-3">150 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Мытьё посуды</th>
                                        <td class="additional-table__col-2">30 мин/1 час</td>
                                        <td class="additional-table__col-3">250/500 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Генеральная уборка санузлов</th>
                                        <td class="additional-table__col-2">Один санузел</td>
                                        <td class="additional-table__col-3">1 500 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Поддерживающая уборка санузла</th>
                                        <td class="additional-table__col-2">Один санузел</td>
                                        <td class="additional-table__col-3">750 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Генеральная уборка ванной комнаты</th>
                                        <td class="additional-table__col-2">1 в.к.</td>
                                        <td class="additional-table__col-3">1 500 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Поддерживающая уборка ванной комнаты</th>
                                        <td class="additional-table__col-2">1 в.к.</td>
                                        <td class="additional-table__col-3">750 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Генеральная уборка кухни</th>
                                        <td class="additional-table__col-2">1 кухня</td>
                                        <td class="additional-table__col-3">2 000 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Поддерживающая уборка кухни</th>
                                        <td class="additional-table__col-2">1 кухня</td>
                                        <td class="additional-table__col-3">1 000 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" rowspan="3" class="additional-table__col-1 triple-string">Мытьё хрустальных люстр, люстр из муранского стекла, эксклюзивных изделий**</th>
                                        <td class="additional-table__col-2">диаметр до 0,5 м.</td>
                                        <td class="additional-table__col-3">800 ₽</td>
                                    </tr>
                                    <tr>
    <!--                                    <th scope="row" class="additional-table__col-1"></th>-->
                                        <td class="additional-table__col-2">от 0,5 до 1 м.</td>
                                        <td class="additional-table__col-3">1 600 ₽</td>
                                    </tr>
                                    <tr>
    <!--                                    <th scope="row" class="additional-table__col-1"></th>-->
                                        <td class="additional-table__col-2">более 1 метра</td>
                                        <td class="additional-table__col-3">От 2400 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Глажение белья</th>
                                        <td class="additional-table__col-2">30 мин.</td>
                                        <td class="additional-table__col-3">300 ₽</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="additional-table__col-1">Выезд с нашим оборудованием (пароочиститель, пылесос, стремянка)</th>
                                        <td class="additional-table__col-2">1 шт.</td>
                                        <td class="additional-table__col-3">500 ₽</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="additional__btn additional__btn--order btn-reset animateWaveSecond">Навести чистоту :)</button>
                        </div>
                    </div>
                </article>
<!-- step 2 -->
                <article class="service-info__item service-info__maintenance" data-service="maintenance_cleaning--step" data-step="2">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Выберите площадь Вашей квартиры/дома:</h4>
                        <label class="space__item"><input name="space" type="radio" value="less30" form="serviceForm"> до 30 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="31-40" form="serviceForm"> 31-40 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="41-50" form="serviceForm"> 41-50 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="51-60" form="serviceForm"> 51-60 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="61-70" form="serviceForm"> 61-70 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="71-80" form="serviceForm"> 71-80 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="81-90" form="serviceForm"> 81-90 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="91-100" form="serviceForm"> 91-100 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="more100" form="serviceForm"> Более 100 м²</label>
                    </div>
                </article>
                <article class="service-info__item service-info__general" data-service="general_cleaning--step" data-step="2">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Выберите площадь Вашей квартиры/дома:</h4>
                        <label class="space__item"><input name="space" type="radio" value="less30" form="serviceForm"> до 30 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="31-40" form="serviceForm"> 31-40 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="41-50" form="serviceForm"> 41-50 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="51-60" form="serviceForm"> 51-60 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="61-70" form="serviceForm"> 61-70 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="71-80" form="serviceForm"> 71-80 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="81-90" form="serviceForm"> 81-90 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="91-100" form="serviceForm"> 91-100 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="more100" form="serviceForm"> Более 100 м²</label>
                    </div>
                </article>
                <article class="service-info__item service-info__renovation" data-service="cleaning_up_after_renovation--step" data-step="2">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Выберите площадь Вашей квартиры/дома:</h4>
                        <label class="space__item"><input name="space" type="radio" value="less30" form="serviceForm"> до 30 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="31-40" form="serviceForm"> 31-40 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="41-50" form="serviceForm"> 41-50 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="51-60" form="serviceForm"> 51-60 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="61-70" form="serviceForm"> 61-70 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="71-80" form="serviceForm"> 71-80 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="81-90" form="serviceForm"> 81-90 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="91-100" form="serviceForm"> 91-100 м²</label>
                        <label class="space__item"><input name="space" type="radio" value="more100" form="serviceForm"> Более 100 м²</label>
                    </div>
                </article>
                <article class="service-info__item service-info__steam" data-service="steam_cleaner--step" data-step="2">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Выберите вещь, которую нужно обработать:</h4>
                        <div class="steam__item">
                            <span class="steam__name">Диван 2х местный</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="two_seater_sofa"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">1 500 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Кресло</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="armchair"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">800 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Диван 3х местный</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="tree_seater_sofa"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">1 600 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Диван угловой</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="corner_sofa"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">1 700 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Диван многоместный</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="multi_seat_sofa"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">500 ₽ </span>
                                <span class="steam__unit">(за 1 место)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Диван-кровать +внутри</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="sofa_bed_inside"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">1 500 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Кресло-кровать +внутри</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="chair_bed_inside"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">800 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Матрас двуспальный</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="double_mattress"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">500 ₽ </span>
                                <span class="steam__unit">(за 1 сторону)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Стул/пкф</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="chair"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">200 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Ковролин/ковер</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="carpet"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">200 ₽ </span>
                                <span class="steam__unit">(за 1 м²)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Мягкие игрушки</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="stuffed_toys"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">50 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Шторы/тюль</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="tulle_curtains"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">300 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                        <div class="steam__item">
                            <span class="steam__name">Обработка радиатора</span>
                            <div class="steam__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="radiator_treatment"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <div class="steam__price-info">
                                <span class="steam__price">300 ₽ </span>
                                <span class="steam__unit">(за 1 шт.)</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="service-info__item service-info__windows" data-service="washing_windows--step" data-step="2">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Выберите услугу:</h4>

                        <div class="window__item">
                            <span class="window__name">Мытье москитных сеток</span>
                            <div class="window__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="mosquito_nets"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <span class="window__price">100 ₽ </span>
                            <span class="window__unit">(за 1 шт.)</span>
                        </div>
                        <div class="window__item">
                            <span class="window__name">Мытье стеклянных перегородок с ОДНОЙ стороны</span>
                            <div class="window__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="glass_partitions_one_side"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <span class="window__price">160 ₽ </span>
                            <span class="window__unit">(за 1 м²)</span>
                        </div>
                        <div class="window__item">
                            <span class="window__name">Мытье стеклянных перегородок с ДВУХ сторон</span>
                            <div class="window__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="glass_partitions_two_side"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <span class="window__price">230 ₽ </span>
                            <span class="window__unit">(за 1 м²)</span>
                        </div>
                        <div class="window__item">
                            <span class="window__name">Мытье окон после ремонта с удалением налёта и краски</span>
                            <div class="window__stepper">
                                <div class="stepper">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="минус">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="text"
                                           class="stepper__input"
                                           value="0"
                                           maxlength="2"
                                           form="serviceForm"
                                           name="windows_after_renovation"
                                           readonly
                                           onfocus="this.removeAttribute('readonly')"
                                           aria-label="область ввода">
                                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="плюс">
                                        <svg class="">
                                            <use xlink:href="img/sprite.svg#plus"></use>
                                        </svg>
                                    </button>
                                </div> <!-- /.stepper -->
                            </div>
                            <span class="window__price">350 ₽ </span>
                            <span class="window__unit">(за 1 м²)</span>
                        </div>
                    </div>
                </article>
<!-- step 3 -->
                <article class="service-info__item service-info__maintenance service-info__novice" data-service="maintenance_cleaning--step" data-step="3">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Заказываете уборку впервые?</h4>
                        <div class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input id="maintenance__noviceYes" type="radio" name="novice" value="1" form="serviceForm">
                                <label class="novice__item" for="maintenance__noviceYes">Да</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input id="maintenance__noviceNo" type="radio" name="novice" value="0" form="serviceForm">
                                <label class="novice__item" for="maintenance__noviceNo">Нет</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="service-info__item service-info__general service-info__novice" data-service="general_cleaning--step" data-step="3">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Заказываете уборку впервые?</h4>
                        <div class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input id="general__noviceYes" type="radio" name="novice" value="1" form="serviceForm">
                                <label class="novice__item" for="general__noviceYes">Да</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input id="general__noviceNo" type="radio" name="novice" value="0" form="serviceForm">
                                <label class="novice__item" for="general__noviceNo">Нет</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="service-info__item service-info__renovation service-info__novice" data-service="cleaning_up_after_renovation--step" data-step="3">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Заказываете уборку впервые?</h4>
                        <div class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input id="renovation__noviceYes" type="radio" name="novice" value="1" form="serviceForm">
                                <label class="novice__item" for="renovation__noviceYes">Да</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input id="renovation__noviceNo" type="radio" name="novice" value="0" form="serviceForm">
                                <label class="novice__item" for="renovation__noviceNo">Нет</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="service-info__item service-info__windows service-info__novice" data-service="washing_windows--step" data-step="3">
                    <div class="service-info__content">
                        <h4 class="service-info__content-title">Заказываете уборку впервые?</h4>
                        <div class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input id="windows__noviceYes" type="radio" name="novice" value="1" form="serviceForm">
                                <label class="novice__item" for="windows__noviceYes">Да</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input id="windows__noviceNo" type="radio" name="novice" value="0" form="serviceForm">
                                <label class="novice__item" for="windows__noviceNo">Нет</label>
                            </div>
                        </div>
                    </div>
                </article>
<!-- last step 4 -->
                <article class="service-info__item service-info__finish">
                    <div class="service-info__content">
                        <h4 class="visually-hidden">Раздел подсчета стоимости услуг и форма оформления заказа</h4>
                        <div class="service-info__price-wrap">
                            <span class="service-info__price"></span><span class="service-info__price-rub"></span>
                            <input class="js-total-price-field" type="hidden" name="totalPrice" value="0" form="serviceForm">
                        </div>
                        <div class="service-info__description-wrap">
                            <span class="service-info__description">Это <span class="service-info__description-estimated">примерная</span> стоимость Вашей уборки</span>
<!--                            <span class="service-info__including">(доставка оборудования включена)</span>-->
                        </div>
                        <span class="service-info__give-phone">Оставьте свой номер, и мы перезвоним Вам в течение пяти минут.</span>
                        <form action="#" class="callback-form" name="serviceForm" id="serviceForm">
                            <input type="text"
                                   class="callback-form__field _req"
                                   placeholder="Как к вам обращаться?"
                                   autocomplete="off"
                                   name="name">
                            <input type="text"
                                   class="callback-form__field _req"
                                   placeholder="Ваш номер телефона"
                                   autocomplete="off"
                                   name="phone">
                            <input type="hidden" class="token" name="token">
                            <div class="callback-form__policy-wrapper">
                                <label class="callback-form__policy-label">
                                    <input class="callback-form__policy-checkbox _req" name="policy" type="checkbox">
                                    <span class="callback-form__policy-text">Ваши личные данные будут использоваться для поддержки
                                        вашего опыта работы с этим веб-сайтом описанного в нашей</span>
                                </label>
                                <a class="callback-form__policy-ref js-policy-ref" href="#">политике конфиденциальности.</a>
                            </div>
                            <button class="callback-form__submit btn-reset" type="submit" aria-label="Заказать звонок">Позвоните мне</button>
                            <div class="success-message">
                                <span>Заявка принята,</span>
                                <span>скоро с Вами свяжемся!</span>
                            </div>
                        </form>
                    </div>
                </article>

                <button class="calc-btn__next btn-reset animateWaveSecond">Далее</button>
            </div> <!-- /.calc__service-info -->

        </div> <!-- /.calc__content -->
    </div> <!-- /.calc__container -->
</section> <!-- /.calc -->
