<section class="faq" id="faq">
    <div class="container faq__container">
        <h2 class="faq__title main-title">Вопросы и ответы</h2>
        <div class="faq__list">

            <article class="faq__item">
                <div class="faq__item-header">
                    <h3 class="faq__item-title">Могу ли я заказывать уборку на еженедельной основе? Будет ли скидка?</h3>
                    <div class="faq__item-arrow-wrap">
                        <svg class="faq__item-arrow">
                            <use xlink:href="img/sprite.svg#arrow_down"></use>
                        </svg>
                    </div>
                </div>
                <div class="faq__item-answer">
                    <div class="faq__item-answer-wrap">
                        <p>Да. Вы можете заказать регулярную уборку по графику раз в неделю или раз в 2 недели.
                            Так как поддерживать чистоту проще, чем ее наводить, при еженедельном обслуживании
                            мы предоставим вам скидку, как постоянному клиенту. Обычно, мы закрепляем определенный
                            день недели и время, в которое к Вам будет приходить наш исполнитель,
                            но можем разработать и индивидуальный график.</p>
                        <p>Для больших любителей чистоты, наш сервис уборки может закрепить за вами исполнителя,
                            чтобы он предоставлял услуги по клинингу помещений на ежедневной основе.</p>
                    </div>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-header">
                    <h3 class="faq__item-title">От чего зависят расценки на уборку?</h3>
                    <div class="faq__item-arrow-wrap">
                        <svg class="faq__item-arrow">
                            <use xlink:href="img/sprite.svg#arrow_down"></use>
                        </svg>
                    </div>
                </div>
                <div class="faq__item-answer">
                    <div class="faq__item-answer-wrap">
                        <p>Цена уборки зависит от следующих компонентов:</p>
                        <ul>
                            <li>Площадь квартиры/дома</li>
                            <li>Вид услуги, который вы заказали</li>
                            <li>Ваши индивидуальные пожелания</li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-header">
                    <h3 class="faq__item-title">Что не входит в стоимость уборки?</h3>
                    <div class="faq__item-arrow-wrap">
                        <svg class="faq__item-arrow">
                            <use xlink:href="img/sprite.svg#arrow_down"></use>
                        </svg>
                    </div>
                </div>
                <div class="faq__item-answer">
                    <div class="faq__item-answer-wrap">
                        <p>В стоимость уборки не входят потолки, жалюзи и стены. Также мы не отодвигаем тяжелую мебель.</p>
                    </div>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-header">
                    <h3 class="faq__item-title">Если ваш сотрудник сломал что-нибудь, кто несет ответственность?</h3>
                    <div class="faq__item-arrow-wrap">
                        <svg class="faq__item-arrow">
                            <use xlink:href="img/sprite.svg#arrow_down"></use>
                        </svg>
                    </div>
                </div>
                <div class="faq__item-answer">
                    <div class="faq__item-answer-wrap">
                        <p>В нашей компании работают профессионалы с многолетним стажем. Можем уверить вас, что подобных
                            ситуаций не возникнет</p>
                        <p>Если же такое все-таки случится – мы гарантируем возмещение ущерба, причиненного нашим сотрудником.</p>
                    </div>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-header">
                    <h3 class="faq__item-title">Что делать, если после уборки пропали ценные вещи?</h3>
                    <div class="faq__item-arrow-wrap">
                        <svg class="faq__item-arrow">
                            <use xlink:href="img/sprite.svg#arrow_down"></use>
                        </svg>
                    </div>
                </div>
                <div class="faq__item-answer">
                    <div class="faq__item-answer-wrap">
                        <p>Можете не беспокоиться
                            <svg class="faq__item-arrow heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg></p>
                        <p>Перед приемом на работу все сотрудники проходят проверку службой безопасности
                            и дорожат своей работой.</p>
                        <p>Если все же подобная ситуация случится и вы будете сомневаться в честности нашего сотрудника –
                            свяжитесь с нами и мы примем необходимые меры.</p>
                    </div>
                </div>
            </article>

        </div> <!-- /.faq__list -->
    </div> <!-- /.faq__container -->
</section> <!-- /.faq -->