<section class="promotions" id="promotions">
    <div class="site-container promotions__container">
        <h2 class="visually-hidden">Раздел акций компании Дарья клининг</h2>

        <section class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="promotions__content">
                        <div class="promotions__text">
                            <p>Закажите свою первую уборку у нас и получите <span class="promotions__discount">скидку 15%</span></p>
                        </div>
                    </div>
                    <div class="swiper-content">
                        <h3 class="swiper-title" data-swiper-parallax="0" data-swiper-parallax-scale="1">Скидка на первую уборку</h3>
                        <span class="swiper-caption" data-swiper-parallax="0">(акции не суммируются)</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="promotions__content">
                        <div class="promotions__text">
                            <p>Пригласите друзей оформить уборку в компании “Дарья клининг” и получите совместную <span class="promotions__discount">скидку 10%</span></p>
                        </div>
                    </div>
                    <div class="swiper-content">
                        <h3 class="swiper-title" data-swiper-parallax="0" data-swiper-parallax-scale="1">Пригласи друга</h3>
                        <h3 class="swiper-title" data-swiper-parallax="0" data-swiper-parallax-scale="1">Пригласи друга</h3>
                        <span class="swiper-caption" data-swiper-parallax="0">(акции не суммируются)</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="promotions__content">
                        <div class="promotions__text">
                            <p>При заказе уборки на сумму от 10 тысяч рублей, полировка фасадов кухни в подарок</p>
                        </div>
                    </div>
                    <div class="swiper-content">
                        <h3 class="swiper-title" data-swiper-parallax="0" data-swiper-parallax-scale="1">Услуга в подарок</h3>
                        <span class="swiper-caption" data-swiper-parallax="0"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </section>

    </div> <!-- /.promotions__container -->
</section> <!-- /.promotions -->