.covid-modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 21;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-right-radius: 500px;
    padding: 20px 100px 40px 40px;
    width: 75%;
    max-width: 1550px;
    box-shadow: 0 0 10px #f00 inset;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: rgba(var(--color-two-na), 1);
    transform: translateY(-100%);
    transition: 0.75s;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-bottom-right-radius: 500px;
        width: 100%;
        height: 100%;
        background: url("../img/header/bg_covid.jpg");
        background-size: cover;
        background-blend-mode: multiply;

        @include sm {
            background: url("../img/header/bg_covid_mobile.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__content {
        padding: 5px 15px;

        @include mobile-sm {
            overflow: auto;
        }

        @include sm {
            padding: 5px 10px;
            padding-bottom: 40px;
        }

        @include xs {
            padding: 5px;
            padding-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 35px;

        @include md-lg {
            font-size: 22px;
        }

        @include mobile-sm {
            margin-left: 15px;
            font-size: 20px;
        }

        @include sm {
            margin-bottom: 15px;
        }

        @include sm {
            margin-left: 10px;
            font-size: 16px;
            line-height: 20px;
        }

        @include xs {
            margin-left: 0;
            padding: 0 20px;
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;

        @include mobile-sm {
            width: 98%;
        }
    }

    &__item {
        margin-bottom: 20px;
        border-radius: 25px;
        padding: 20px 30px;
        padding-bottom: 10px;
        width: 45%;
        background: rgba(var(--color-four-na), 0.35);

        &-title {
            margin: 0;
            text-align: center;

            @include mobile-sm {
                font-size: 18px;
            }

            @include sm {
                font-size: 15px;
            }
        }

        &-description {
            margin: 0;

            @include sm {
                p {
                    margin: 10px 0;
                }
            }
        }

        @include mobile {
            padding: 15px 20px;
            padding-bottom: 10px;
            width: 48%;
        }

        @include xs {
            margin-bottom: 10px;
            padding: 15px 10px;
            padding-bottom: 10px;
            width: 100%;
        }
    }

    &__conclusion {
        align-self: flex-start;
        margin-top: 10px;
        width: 75%;

        @include md-lg {
            width: 85%;
        }

        @include mobile-sm {
            width: 100%;
        }

        @include sm {
            margin-top: 0;
            padding: 0 10px 0 5px;
        }
    }

    &--visible {
        transform: translateY(0);
    }

    &__logo {
        font-family: "Nexa", sans-serif;
        font-weight: 700;
        font-size: 26px;
        text-decoration: underline;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
        color: var(--color-one);
    }

    @include lg {
        border-bottom-right-radius: 450px;
        padding: 20px 90px 40px 40px;
        font-size: 16px;
        line-height: 20px;

        &::before {
            border-bottom-right-radius: 450px;
        }
    }

    @include md-lg {
        border-bottom-right-radius: 300px;
        padding: 20px 50px 40px 40px;
        width: 80%;
        font-size: 15px;
        line-height: 19px;

        &::before {
            border-bottom-right-radius: 300px;
        }
    }

    @include md {
        padding: 20px 40px 40px;
        width: 85%;
    }

    @include mobile-sm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-right-radius: 0;
        padding: 20px 10px 40px;
        height: 100vh;

        &::before {
            border-bottom-right-radius: 0;
        }
    }

    @include sm {
        font-size: 14px;
        line-height: 18px;

        .modal__close {
            width: 17px;
            height: 17px;
        }
    }

    @include xs {
        .modal__close {
            right: 15px;
            top: 15px;
            width: 15px;
            height: 15px;
        }
    }
}