.policy-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    margin: auto;
    padding: 50px 70px;
    padding-bottom: 0;
    width: 70%;
    height: 100%;
    line-height: 22px;
    text-align: justify;
    background: rgba(var(--color-four-na), 0.5);
    opacity: 0;
    transform: translateX(-100%);
    will-change: transform;
    transition: 0.75s;

    &__wrap {
        margin: auto;
        border-radius: 100px 100px 0 0;
        padding: 30px 70px 50px;
        background: rgba(var(--color-five-na), 0.7);

        @include md {
            padding: 30px 50px;
        }

        @include mobile {
            border-radius: 85px 85px 0 0;
            padding: 20px 30px 10px;
        }

        @include sm {
            border-radius: 75px 75px 0 0;
            padding: 20px 20px 10px;
            font-size: 15px;
            line-height: 21px;
        }

        @include xs {
            border-radius: 65px 65px 0 0;
        }
    }

    &__title {
        margin-bottom: 30px;
        text-align: center;

        @include mobile {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        @include sm {
            font-size: 20px;
        }

        @include xs {
            font-size: 18px;
        }
    }

    &__paragraph {
        margin: 5px;
    }

    &__power-paragraph {
        margin: 5px;
        font-weight: 700;
        font-size: 17px;

        @include mobile {
            font-size: 16px;
        }
    }

    &__company-url {
        font-weight: 700;
    }

    &__list {
        @include md {
            padding-left: 30px;
        }

        @include sm {
            padding-left: 20px;
        }

        @include xs {
            padding-left: 10px;
        }
    }

    &__item {
        margin-bottom: 15px;
    }

    &__list-point {
        @include md {
            padding-left: 30px;
        }

        @include sm {
            padding-left: 20px;
        }

        @include xs {
            padding-left: 10px;
        }
    }

    &__item-point {
        margin-bottom: 10px;
    }

    &__list-sub-point {
        list-style-type: circle;
        padding-left: 40px;
    }

    &__item-sub-point {
        margin-bottom: 5px;
    }

    &--visible {
        z-index: 20;
        opacity: 1;
        transform: translateX(0);
    }

    @include lg {
        width: 80%;
    }

    @include md-lg {
        width: 90%;
    }

    @include md {
        padding: 50px 40px 0;
    }

    @include sm {
        padding: 50px 30px 0;
        width: 95%;
    }

    @include xs {
        padding: 50px 5px 0;
        width: 100%;
    }
}
