html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

/* Firefox */
* {
    scrollbar-color: var(--color-two) var(--color-four);
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    border: 3px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--background-color);
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    min-width: 316px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    user-select: none;

    &::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: center / cover no-repeat url("../img/bg_main-blur(2px).png");
        will-change: transform;

        @include ultra-wide {
            background: center / cover no-repeat url("../img/bg_main_ultra-wide-blur(2px).png");
        }

        @include mobile {
            background: center / cover no-repeat url("../img/bg_main_mobile-blur(2px).png");
        }

        @include sm {
            background: center / cover no-repeat url("../img/bg_main_sm-blur(2px).png");
        }

        @include xs {
            background: center / cover no-repeat url("../img/bg_main_xs-blur(2px).png");
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
    }
}

label {
    cursor: pointer;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ссс;
    transition: background-color 5000s ease-in-out 0s;
}

.site-container {
    margin: auto;
    max-width: 1920px;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 1450px;

    @include lg {
        width: 90%;
    }

    @include xs {
        padding: 0 15px;
        width: 100%;
    }
}

.main-title {
    font-size: 32px;
    line-height: 42px;
    text-shadow: 0 0 1px var(--color-two);
    text-transform: uppercase;

    @include mobile {
        margin-bottom: 40px;
        font-size: 28px;
        line-height: 37px;
    }

    @include sm {
        font-size: 26px;
        line-height: 34px;
    }

    @include xs {
        font-size: 24px;
        line-height: 31px;
    }
}

.visually-hidden {
    @include visually-hidden;
}

.btn-reset {
    border: none;
    padding: 0;
    text-align: center;
    background: transparent;
    cursor: pointer;
}

.main-link {
    position: relative;
    font-size: 14px;
    color: var(--link-color);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1px;
        background-color: currentColor;
        opacity: 0;
        transition: opacity 0.3s, width 0.3s;
    }

    &:hover {
        color: var(--color-one);

        &::before {
            width: 100%;
            opacity: 1;
            transition: opacity 0.3s, width 0.3s;
        }
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    width: 200vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all var(--delay-overlay);
    will-change: transform;

    &--visible {
        opacity: 1;
        visibility: visible;
        transition: opacity var(--delay-overlay);
    }
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 20;
    width: 20px;
    height: 20px;
    fill: var(--color-two);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;

    use {
        pointer-events: none;
    }

    &:hover {
        transform: rotate(180deg);
    }
}

.grecaptcha-badge {
    z-index: -20;
    opacity: 0;
}

.animateWave {
    animation: hoverWave 1s linear infinite;
}

.animateWaveSecond {
    animation: hoverWaveBtn 1.5s linear infinite;
}

.animateWaveTarget {
    animation: hoverWaveBtnTarget 1.5s linear infinite;
}